
  /* =================  Media Queries  ================= */
/* mobile */
@media (min-width: 320px) {
   .wrap{
      padding: 0 1.3rem 0 1.3rem;
     }
 
     /* HEARDER */
  
    .nav-menu-desktop{
      display: none;
     }
     
     .nav-menu-mobile{
      display: flex;
     } 
  
     .logo{
      font-size: 1.3rem;
     }
  
     .butao-menu-mobile{
      width: 3rem;
      height: 2.5rem;
      
     }
  
     /* .border-pulse{
      width: 11rem;
      height: 11rem;
     } */
  
     .border-pulse img{
      bottom: 11rem;
     }
  
     .container-apresentacao h1{
      font-size: 1.2rem;
     }
  
     .container-apresentacao h2{
      font-size: 1.2rem;
     }
 
     /* MAIN */
  
     
  
     /* MAIN > SECTION 1# */
     #quem_sou{
      flex-wrap: wrap;
     }
 
     .texto-sobre_Mim{
       width: 100%;
     }
  
     .texto-sobre_Mim h1{
      font-size: 1.5rem;
    
     }
  
     .texto-sobre_Mim p{
      font-size: 1rem;
     }
 
     .contratar{
       width: 100%;
     }
 
     .contratar li{
       padding: 2rem;
     }
 
     .contratar li h1{
       font-size: 1.5rem;
     }
 
     .contratar li p{
       font-size: 1rem;
       font-weight: 200;
     }
 
     /* MAIN > SECTION 2# */
 
   
 
     .container-slide-casos-de-estudo{
       height: 25rem;
     }
 
 
     .box-slide a img,
     .box-slide a p {
       margin-right: 1.5rem;
     }
  }
  
  /* tablet */
  @media (min-width: 768px) {
  
    .wrap{
      padding: 0 1.8rem 0 1.8rem;
     }
  
    .logo{
      font-size: 1.9rem;
     }
  
     .butao-menu-mobile{
      width: 4rem;
      height: 3rem; 
      
     }
  
     .border-pulse{
      width: 12rem;
      height: 12rem;
     }
  
     .border-pulse img{
      bottom: 12rem;
     }
  
     .container-apresentacao h1{
      font-size: 1.6rem;
     }
  
     .container-apresentacao h2{
      font-size: 1.7rem;
     }
  
 
     #projetos h1{
       font-size: 3rem;
     }
   
     #projetos h2{
       font-size: 2rem;
     }
  }
  
  /* desktop medium */
  @media (min-width: 1024px) {
    
    .nav-menu-desktop{
      display: flex;
     }
     
     .nav-menu-mobile{
      display: none;
     } 
  
     .wrap{
      padding: 0 4rem 0 4rem;
     }
  
    .logo{
      font-size: 1.9rem;
     }
  
     .border-pulse{
      width: 13rem;
      height: 13rem;
     }
  
     .border-pulse img{
      bottom: 13rem;
     }
  
     .container-apresentacao h1{
      font-size: 1.6rem;
     }
  
     .container-apresentacao h2{
      font-size: 1.7rem;
     }
 
     /* MAIN */
 
   
      /* MAIN > SECTIO 1# */
      #quem_sou{
       flex-wrap: nowrap;
      }
  
      .texto-sobre_Mim{
        width: 50%;
      }
   
      .texto-sobre_Mim h1{
       font-size: 3rem;
     
      }
   
      .texto-sobre_Mim p{
       font-size: 1.4rem;
      }
  
      .contratar{
        width: 50%;
      }
  
      .contratar li{
        padding: 1.2rem;
      }
  
      .contratar li h1{
        font-size: normal;
      }
  
      .contratar li p{
       font-size: 1.2rem;
       font-weight: 500;
      }
 
      /* MAIN > SECTION 2# */
 
  }
  
  /* desktop large */
  @media (min-width: 1200px) {
   
  }
  